<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>FcZenitCalendarServlet</servlet-name>
        <servlet-class>me.igorbotian.fczenit.ical.web.FcZenitCalendarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FcZenitCalendarServlet</servlet-name>
        <url-pattern>/zenit.ics</url-pattern>
    </servlet-mapping>
</web-app>